.chart-info {
    text-align: center;
}

.main  {
    margin-top: 0;
    font-weight: 800;
    text-transform: uppercase;
}

.val {
    font-size: 3em;
}

mat-icon {
    color: green;
    
} 

mat-icon, .unit {
    font-size: 2em;
    margin-right: 15px;
    margin-left: 5px;
}